@page
@model WEBCW2.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card">
    <div class="card-body">
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3">
                <!--BOOK 1-->
                @foreach (var item in Model.Book)
                {
                    <div class="col mb-4">
                        <a asp-page="/Books/Details" asp-route-id="@item.ID">
                            <div class="card h-100">
                                <img src=@Html.DisplayFor(modelItem => item.Image) class="card-img-top" alt=@Html.DisplayFor(modelItem => item.Image)>
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.BookTitle)</h5>
                                    <p class="card-text">@Html.DisplayFor(modelItem => item.AuthorName)</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
