@page
@model WEBCW2.Pages.Books.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="card">
    <div class="card-body">
        <h1>Add Book</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
					<p>@Html.DisplayFor(model => model.errorText1)</p>
                    <p>@Html.DisplayFor(model => model.errorText2)</p>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Book.BookTitle" class="control-label">Book Title:</label>
                            <input asp-for="Book.BookTitle" class="form-control" />
                            <span asp-validation-for="Book.BookTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Book.AuthorID" class="control-label">Author ID:</label>
                            <input asp-for="Book.AuthorID" class="form-control" />
                            <span asp-validation-for="Book.AuthorID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Book.Genre" class="control-label">Genre:</label>
                            <input asp-for="Book.Genre" class="form-control" />
                            <span asp-validation-for="Book.Genre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Book.Blurb" class="control-label">Blurb:</label>
                            <input asp-for="Book.Blurb" class="form-control" />
                            <span asp-validation-for="Book.Blurb" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Book.Image" class="control-label">Image URL:</label>
                            <input asp-for="Book.Image" class="form-control" />
                            <span asp-validation-for="Book.Image" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Book.UserID" class="control-label">Your User ID:</label>
                            <input asp-for="Book.UserID" class="form-control" />
                            <span asp-validation-for="Book.UserID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="+Add" class="btn btn-primary" />
                        </div>
                    </form>
                    <div>
                        <a asp-page="../Index">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
